.img{
    width: 30em;
    height: 30em;
}

.flexContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.tudo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.login{
    font-family: Oswald;
    color: #522b5b;
    text-align: center;
    font-size: 2rem;
    margin: 0.5em;
}