.footer{
    background-color: #522b5b;
    margin-top: 1em;
}

.texto{
    color: #dfb6b2;
    text-align: center;
    padding: 0.2em;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Oswald;

}